#navbar {
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: fit-content;
    z-index: 100;
    background: rgba(var(--bg-secondary-rgb), 0.5);
    padding: 0.6rem 1rem;
    border-radius: var(--radius-2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: var(--gray-border);
}

#navbar .nav__routes {
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar .route {
    font-size: 16px;
    font-weight: 700;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}

#navbar .menu__btn {
    display: none;
}

#navbar .theme__toggle {
    display: flex;
    align-items: center;
}

#navbar .theme__toggle input {
    position: absolute;
    top: -9999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}

#navbar .theme__toggle .sun, #navbar .theme__toggle .moon {
    transform: scale(0);
    transition: var(--transition);
    color: var(--text-color);
}

#navbar .theme__toggle input:not(:checked) ~ .icon__container .sun {
    transform: scale(1);
}

#navbar .theme__toggle input:checked ~ .icon__container .moon {
    transform: scale(1);
}

@media only screen and (max-width: 700px) {
    #navbar {
        max-width: 100%;
        width: 90%;
    }

    #navbar .nav__routes {
        display: none;
}

    #navbar .menu__btn {
        display: flex;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 0;
    width: 100%;
    background: rgba(var(--bg-secondary-rgb), 0.8);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    transition: var(--transition);
    overflow: hidden;
}

.sidebar.visible{
    height: 100%;
}

.sidebar .sidebar__wrapper {
    padding: 1rem;
}

.sidebar .top {
    justify-content: space-between;
}

.sidebar .navitem {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.sidebar .navitem:hover {
    color: var(--color-primary);
}

#header >.spotlight {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#header .container {
    min-height: 100vh;
    padding-top: 120px;
    overflow: visible;
}

#header .grid {
    display: grid;
    grid-template-columns: 400px auto;
    gap: 30px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

#header .description {
    font-size: 20px;
    line-height: 25px;
}


#header .buttons {
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

#header .social__handles .icon__container {
    background: var(--bg-base);
}

#header .points {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: rgba(var(--bg-base-rgb), 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 2rem;
    border-radius: var(--radius-2);
}

#header.point .flex {
    align-items: center;
    gap: 5px;
}

#header .points .spotlight {
    width: 40%;
    height: 90px;
    right: 0;
}

@media only screen and (min-width: 1500px){
    #header .container {
        min-height: auto;
    }
}

@media only screen and (max-width:900px){
    #header .grid {
        grid-template-columns: 100%;
    }
    #header .me {
        order: 2;
        max-width: 400px;
        margin: auto;
    }
    #header .user__info {
        order: 1;
    }
    #header .title,
    #header.description,
    #header .sub__title {
        text-align: center;
    }
    #header .buttons, 
    #header .social__handles {
        justify-content: center;
    }
    #header .buttons {
        flex-direction: column;
    }
}

@media only screen and (mix-width: 600px) {
    #header .points {
        grid-template-columns: repeat(2,1fr);
    }
    #header .points .flex {
        justify-content: center;
    }
    #header .points .text__muted{
        font-size: 10px;
        text-align: center;
    }
}


#about .grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

#about .col-2 {
    grid-column: span 2;
}

#about .box{
    background: var(--bg-secondary);
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

#about .spotlight{
    width: 180px;
    right: 0;
}

#about .cluster {
    padding: 20px;
    position: relative;
    z-index: 2;
    gap: 20px;
}

#about .user{
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    background: rgba(var(--bg-base-rgb), 0.8);
    padding: 10px;
    border-radius: var(--radius-3);
}

#about .description {
    margin: 10px 0;
}

#about .code__block {
    border-radius: var(--radius-3);
    box-shadow: var(--border-shadow);
    overflow: hidden;
    height: fit-content;
}

#about .hljs {
    display: block;
    padding: 20px;
    margin-bottom: -15px;
    background: rgba(var(--bg-base-rgb), 0.6);
    color: var(--color-primary);
}